<img width="768" height="262" alt="image" src="https://github.com/user-attachments/assets/337c8585-102e-4ed9-aa46-8addbe745c23" />
<img width="789" height="914" alt="image" src="https://github.com/user-attachments/assets/544f907d-76ec-438d-a012-d5dda14ae127" />
<img width="1920" height="1080" alt="image" src="https://github.com/user-attachments/assets/b89f4dc3-73ef-445d-a075-9ab06394e2c4" />
<img width="1920" height="1080" alt="image" src="https://github.com/user-attachments/assets/ee24e09a-cc72-4d54-bb9d-fb48a9c90ded" />


